{% extends 'base.html' %}

{% block title %}Панель инженера - Сервисная система{% endblock %}

{% block content %}
<h2 style="text-align: center;">Добро пожаловать, {{ user.first_name|default:user.username }}!</h2>

<div class="action-buttons" style="text-align: center; margin-top: 30px;">
  <a href="{% url 'all_active_requests' %}" class="btn">Все заявки</a>
  <a href="{% url 'my_active_requests' %}" class="btn">Мои заявки</a>
  <a href="{% url 'completed_requests' %}" class="btn">Завершённые заявки</a>
</div>
{% endblock %}
